.page-enter-active {
  animation: fadeUp .45s ease both;
}

.page-leave-active {
  animation: fadeOut .65s ease both;
  #square {
    transition: all ease 2s;
    transform: scale(0);
    background: white;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 3.5%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 3.5%, 0);
  }
}
