// =============================================================================
// Core
// =============================================================================
html {
  position: relative;
  min-height: 100%;
}

body {
  //display: flex;
  //flex-direction: column;
  min-height: 100vh;
  font-family: $font-family-sans-serif !important;
  font-size: 12pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $off-white;
}

:focus {
  outline: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
  line-height: 1.4;
  margin: 0;
}

img {
  max-width: 100%;
}

.vertical-center {
  @include vertical-center();
}

.center-col {
  display: flex;
  justify-content: center;
}